window {
	background: rgba(0,0,0,0.0);
}
* {
	background: @theme_bg_color;
	border-radius: 10px;
	padding: 2px;
}
#splash {
	background: #5E003E;
	color: #ffffff;
	border-radius: 10px;
	padding: 2px;
}
